<!DOCTYPE html>
<html>
<head>
    <title>市场在售物品</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("market:gmmarketonline:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("market:gmmarketonline:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("market:gmmarketonline:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">售卖者</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.userId" placeholder="售卖者"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">物品类型（0：英雄，1：英雄碎片，2：装备，3：装备卷轴，4：药水）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.goodsType" placeholder="物品类型（0：英雄，1：英雄碎片，2：装备，3：装备卷轴，4：药水）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商品ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.goodsId" placeholder="商品ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态(0：上架，1：已售，2：下架)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.status" placeholder="状态(0：上架，1：已售，2：下架)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">售卖价格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.sellPrice" placeholder="售卖价格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.createTimeTs" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="gmMarketOnline.updateTimeTs" placeholder="修改时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/market/gmmarketonline.js?_${.now?long}"></script>
</body>
</html>