<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>admin</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="${request.contextPath}/statics/css/all-skins.min.css">
  <link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!-- ADD THE CLASS layout-boxed TO GET A BOXED LAYOUT -->
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper" id="rrapp" v-cloak>
  <header class="main-header">
    <a href="javascript:void(0);" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>GM</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>GameManager</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
	  <div style="float:left;color:#fff;padding:15px 10px;">欢迎 {{user.username}}</div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!--<li><a href="javascript:;" @click="donate"><i class="fa fa-jpy"></i> &nbsp;捐赠作者</a></li>-->
          <!--<li><a href="http://www.renren.io" target="_blank"><i class="fa fa-home"></i> &nbsp;人人开源</a></li>-->
		  <li><a href="javascript:;" @click="connectAccount"><i class="fa fa-lock"></i> &nbsp;连接钱包</a></li>
		  <li><a href="javascript:;" @click="sendT"><i class="fa fa-lock"></i> &nbsp;交易</a></li>
		  <li><a href="javascript:;" @click="testDraw"><i class="fa fa-lock"></i> &nbsp;模拟抽奖</a></li>
		  <li><a href="javascript:;" @click="updatePassword"><i class="fa fa-lock"></i> &nbsp;修改密码</a></li>
          <li><a href="logout"><i class="fa fa-sign-out"></i> &nbsp;退出系统</a></li>
		</ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">导航菜单</li>
        
        <!-- vue生成的菜单 -->
		<menu-item :item="item" v-for="item in menuList"></menu-item>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- =============================================== -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <ol class="breadcrumb" id="nav_title" style="position:static;float:none;">
        <li class="active" style="cursor: pointer;" onclick="goHome()"><i class="fa fa-home" style="font-size:20px;position:relative;top:2px;left:-3px;"></i>首页</li>
        <li class="active">{{navTitle}}</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="background:#fff;">
      <iframe scrolling="yes" frameborder="0" style="width:100%;min-height:200px;overflow:visible;background:#fff;" :src="main"></iframe>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Version 4.0.0
    </div>
    Copyright &copy; 2019 <a href="https://www.renren.io" target="_blank">renren.io</a> All Rights Reserved
  </footer>

  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
  <!-- 修改密码 -->
<div id="passwordLayer" style="display: none;">
	<form class="form-horizontal">
	<div class="form-group">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">账号</div>
		    <span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">原密码</div>
		   	<div class="col-sm-10">
		      <input type="password" class="form-control" v-model="password" placeholder="原密码"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">新密码</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="newPassword" placeholder="新密码"/>
		    </div>
		</div>
	</div>
	</form>
</div>
  <!-- 模拟抽奖 -->
<div id="testDrawD" style="display: none;">
    <div style="width: 30%;padding: 20px 30px 20px 20px;float: left">
        <div style="width: 200px; height: 300px; border-radius: 10px;border: 1px solid #dadce0;">
            <div style="height: 200px;text-align: center;">
                <h1>英雄抽奖</h1>
                <h4>5★英雄</h4>
                <h4>4★英雄</h4>
                <h4>3★英雄</h4>
                <h4>2★英雄</h4>
                <h4>1★英雄</h4>
                <h4>英雄碎片</h4>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <div class="col-sm-3 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="抽奖中..." @click="testDrawStart(1)" value="单抽"/>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate2" data-loading-text="抽奖中..." @click="testDrawStart(2)" value="十连抽"/>
            </div>
        </div>
    </div>
    <div style="width: 30%;padding: 20px 30px 20px 20px;float: left">
        <div style="width: 200px; height: 300px; border-radius: 10px;border: 1px solid #dadce0;">
            <div style="height: 200px;text-align: center;">
                <h1>装备抽奖</h1>
                <h4 style="color: #c87f0a">橙色装备</h4>
                <h4 style="color: #5d59a6">紫色装备</h4>
                <h4 style="color: #0d6aad">蓝色装备</h4>
                <h4 style="color: #00a65a">绿色装备</h4>
                <h4>白色装备</h4>
                <h4>装备卷轴\碎片</h4>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <div class="col-sm-3 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdateEQ" data-loading-text="抽奖中..." @click="testEQDrawStart(1)" value="单抽"/>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdateEQ2" data-loading-text="抽奖中..." @click="testEQDrawStart(2)" value="十连抽"/>
            </div>
        </div>
    </div>
    <div style="width: 30%;padding: 20px 30px 20px 20px;float: left">
        <div style="width: 200px; height: 300px; border-radius: 10px;border: 1px solid #dadce0;">
            <div style="height: 200px;text-align: center;">
                <h1>经验道具抽奖</h1>
                <h4 style="color: #5d59a6">紫色经验道具</h4>
                <h4 style="color: #0d6aad">蓝色经验道具</h4>
                <h4 style="color: #00a65a">绿色经验道具</h4>
                <h4>白色经验道具</h4>
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <div class="col-sm-3 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdateEX" data-loading-text="抽奖中..." @click="testEXDrawStart(1)" value="单抽"/>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdateEX2" data-loading-text="抽奖中..." @click="testEXDrawStart(2)" value="十连抽"/>
            </div>
        </div>
    </div>
</div>

</div>
<!-- ./wrapper -->



<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/router.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/app.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@3.0.0/dist/web3.min.js"></script>
<script src="${request.contextPath}/statics/js/index.js?_${.now?long}"></script>
<script>
function goHome() {
    parent.location.href ='index.html';
}
</script>
</body>
</html>
