<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-1" style="padding-left: 0;">
                <input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="会员名称">
            </div>
            <div class="form-group col-sm-1">
                <input type="text" class="form-control" v-model="q.heroName" @keyup.enter="query" placeholder="英雄名称">
            </div>
            <div class="form-group col-sm-1">
                <input type="text" class="form-control" v-model="q.levelName" @keyup.enter="query" placeholder="英雄等级">
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.status">
                    <option value="">全部</option>
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.starCode">
                    <option value="">全部</option>
                    <option value="1">★</option>
                    <option value="2">★★</option>
                    <option value="3">★★★</option>
                    <option value="4">★★★★</option>
                    <option value="5">★★★★★</option>
                </select>
            </div>

            <a class="btn btn-default" @click="query">查询</a>
<!--			<#if shiro.hasPermission("user:userhero:save")>-->
<!--            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
<!--			</#if>-->
<!--			<#if shiro.hasPermission("user:userhero:update")>-->
<!--            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
<!--			</#if>-->
			<#if shiro.hasPermission("user:userhero:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="userHero.userId" placeholder="用户ID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户获得的英雄ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="userHero.heroStarId" placeholder="用户获得的英雄ID"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="userHero.status" placeholder="状态('0':禁用，'1':启用)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">英雄等级ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="userHero.heroLevelId" placeholder="英雄等级ID"/>
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>



    <!--使用经验道具-->
    <div id="useExD" style="display: none;">
        <div style="padding: 10px 10px 10px 10px;">
            <form class="form-horizontal" style="width: 100%">
                <div class="form-group">
                    <div class="col-sm-2 control-label">经验道具类型</div>
                    <div class="col-sm-10">
                        <div class="radio radio-info radio-inline" v-for="userEx in userExList">
                            <input type="radio" :id="userEx.rarecode" :value="userEx.rarecode" name="status" v-model="userExInfo.rarecode">
                            <label :for="userEx.rarecode"> {{userEx.expName}} -已拥有: {{userEx.userExNum}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">使用数量</div>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" v-model="userExInfo.userExNum" min="0"/>
                    </div>
                </div>
            </form>
        </div>
    </div>




</div>

<script src="${request.contextPath}/statics/js/modules/user/userhero.js?_${.now?long}"></script>
</body>
</html>