<!DOCTYPE html>
<html>
<head>
    <title>玩家经验道具信息</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="padding-left: 0;">
                <input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="玩家名称">
            </div>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.expName" @keyup.enter="query" placeholder="经验道具名称">
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.status">
                    <option value="">全部</option>
                    <option value="0">禁用</option>
                    <option value="1">未使用</option>
                    <option value="1">已使用</option>
                </select>
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.rareCode">
                    <option value="">全部</option>
                    <option value="4">紫色</option>
                    <option value="3">蓝色</option>
                    <option value="2">绿色</option>
                    <option value="1">白色</option>
                </select>
            </div>

            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("user:userexperience:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("user:userexperience:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<!--<#if shiro.hasPermission("user:userexperience:delete")>-->
            <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
			<!--</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态('0':禁用，'1':未使用，'2':已使用)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="userExperience.status" placeholder="状态('0':禁用，'1':未使用，'2':已使用)"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/user/userexperience.js?_${.now?long}"></script>
</body>
</html>