<!DOCTYPE html>
<html>
<head>
    <title>装备基础表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("basicconfig:equipmentinfo:update")>
                <a class="btn btn-primary" @click="updateS"><i class="fa fa-pencil-square-o"></i>&nbsp;更新合成公式</a>
            </#if>
			<#if shiro.hasPermission("basicconfig:equipmentinfo:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:equipmentinfo:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:equipmentinfo:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">装备名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="equipmentInfo.equipName" placeholder="装备名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">装备稀有度</div>
                <div class="col-sm-10">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="equipRarecode1" value="1" name="equipRarecode" v-model="equipmentInfo.equipRarecode">
                        <label for="equipRarecode1"> 白色 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="equipRarecode2" value="2" name="equipRarecode" v-model="equipmentInfo.equipRarecode">
                        <label for="equipRarecode2"> 绿色 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="equipRarecode3" value="3" name="equipRarecode" v-model="equipmentInfo.equipRarecode">
                        <label for="equipRarecode3"> 蓝色 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="equipRarecode4" value="4" name="equipRarecode" v-model="equipmentInfo.equipRarecode">
                        <label for="equipRarecode4"> 紫色 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="equipRarecode5" value="5" name="equipRarecode" v-model="equipmentInfo.equipRarecode">
                        <label for="equipRarecode5"> 橙色 </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">装备等级</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="equipmentInfo.equipLevel" placeholder="装备等级"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">物品估值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.itemValuation" placeholder="物品估值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status1" value="0" name="status" v-model="equipmentInfo.status">
                        <label for="status1"> 禁用 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status2" value="1" name="status" v-model="equipmentInfo.status">
                        <label for="status2"> 启用 </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始生命值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipHealth" placeholder="初始生命值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始法力值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipMana" placeholder="初始法力值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始生命值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipHealthRegen" placeholder="初始生命值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始法力值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipManaRegen" placeholder="初始法力值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始护甲</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipArmor" placeholder="初始护甲"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始魔抗</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipMagicResist" placeholder="初始魔抗"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始攻击力</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipAttackDamage" placeholder="初始攻击力"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始法功</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="equipmentInfo.equipAttackSpell" placeholder="初始法功"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/basicconfig/equipmentinfo.js?_${.now?long}"></script>
</body>
</html>