<!DOCTYPE html>
<html>
<head>
    <title>英雄技能表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-1" style="padding-left: 0;">
                <input type="text" class="form-control" v-model="q.heroName" @keyup.enter="query" placeholder="英雄名称">
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.status">
                    <option value="">全部</option>
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
            </div>
			<#if shiro.hasPermission("basicconfig:heroskill:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:heroskill:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:heroskill:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">英雄</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="heroSkill.gmHeroId">
                        <option value="">请选择</option>
                        <option v-for="heroInfo in heroInfoList" :value="heroInfo.heroId">{{heroInfo.heroName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">伤害星级</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroSkill.skillStarLevel" placeholder="星级"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">技能位置</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroSkill.skillSolt" placeholder="技能位置"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">固定伤害</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroSkill.skillFixedDamage" placeholder="固定伤害"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">英雄属性伤害加成</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroSkill.skillDamageBonusHero" placeholder="英雄属性伤害加成"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">装备属性伤害加成</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroSkill.skillDamageBonusEquip" placeholder="装备属性伤害加成"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">技能描述</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="heroSkill.skillDescription" placeholder="技能描述"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status1" value="0" name="status" v-model="heroSkill.status">
                        <label for="status1"> 禁用 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status2" value="1" name="status" v-model="heroSkill.status">
                        <label for="status2"> 启用 </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/basicconfig/heroskill.js?_${.now?long}"></script>
</body>
</html>