<!DOCTYPE html>
<html>
<head>
    <title>星级英雄奖池</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="padding-left: 0;width: 220px;">
                <input type="text" class="form-control" v-model="q.heroName" @keyup.enter="query" placeholder="英雄名称">
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.starCode">
                    <option value="">全部</option>
                    <option value="1">1★</option>
                    <option value="2">2★</option>
                    <option value="3">3★</option>
                    <option value="4">4★</option>
                    <option value="5">5★</option>
                </select>
            </div>
            <div class="form-group col-sm-1">
                <select class="form-control" v-model="q.status">
                    <option value="">全部</option>
                    <option value="0">禁用</option>
                    <option value="1">启用</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("basicconfig:herostar:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:herostar:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("basicconfig:herostar:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">英雄</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="heroStar.gmHeroId">
                        <option value="">请选择</option>
                        <option v-for="heroInfo in heroInfoList" :value="heroInfo.heroId">{{heroInfo.heroName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">星级-属性加成</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="heroStar.gmStarId">
                        <option value="">请选择</option>
                        <option value="1000">0★（自动生成5个星级的）</option>
                        <option v-for="starInfo in starInfoList" :value="starInfo.gmStarId">{{starInfo.gmStarCode}}★-{{starInfo.gmStarAttributes}}%</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status1" value="0" name="status" v-model="heroStar.status">
                        <label for="status1"> 禁用 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                        <input type="radio" id="status2" value="1" name="status" v-model="heroStar.status">
                        <label for="status2"> 启用 </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">英雄概率等级</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmProbabilityId" placeholder="英雄概率等级-默认1为最低概率，该数值按概率递增"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">物品估值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.itemValuation" placeholder="物品估值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始生命值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmHealth" placeholder="初始生命值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-生命值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowHealth" placeholder="成长属性-生命值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始法力值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmMana" placeholder="初始法力值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-法力值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowMana" placeholder="成长属性-法力值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始生命值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmHealthRegen" placeholder="初始生命值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-生命值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowHealthRegen" placeholder="成长属性-生命值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始法力值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmManaRegen" placeholder="初始法力值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-法力值恢复</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowManaRegen" placeholder="成长属性-法力值恢复"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始护甲</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmArmor" placeholder="初始护甲"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-护甲</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowArmor" placeholder="成长属性-护甲"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始魔抗</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmMagicResist" placeholder="初始魔抗"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-魔抗</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowMagicResist" placeholder="成长属性-魔抗"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">初始攻击力</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmAttackDamage" placeholder="初始攻击力"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">成长属性-攻击力</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="heroStar.gmGrowAttackDamage" placeholder="成长属性-攻击力"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/basicconfig/herostar.js?_${.now?long}"></script>
</body>
</html>